body{
	background-color:yellow;
}
*{
	color:white;
}


.red{
	
	/*border-top:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	color:white;*/
	/*background-color:red;*/
	/*border-top-style: 10px solid black;*/
	width:230px;
	height:80px;
	background-color: red;
	border-left:0px solid black;
	border-right:0px solid black;
	border-top:0px solid black;
	border-bottom:3px outset black;

	

 
}
 
 .one{
 	width:230px;
 	height:80px;
 	background-color:green;
 	border-top:0px solid black;
 	border-left:0px solid black;
 	border-right:0px solid black;
 	border-bottom:3px outset black;
 }

 .two{
 	width:230px;
 	height:80px;
 	background-color:skyblue;
 	border-top:0px solid black;
 	border-left:0px solid black;
 	border-right:0px solid black;
 	border-bottom:3px outset black;
 }

 .three{
 	width:230px;
 	height:80px;
 	background-color:tomato;
 	border-top:0px solid black;
 	border-left:0px solid black;
 	border-right:0px solid black;
 	}

.four{
 	width:230px;
 	height:80px;
 	background-color:#F57E32;
 	border-top:0px solid black;
 	border-left:0px solid black;
 	border-right:0px solid black;
 	border-bottom:3px outset black;
 }

.five{
 	width:230px;
 	height:80px;
 	background-color:#24D1E7 ;
 	border-top:0px solid black;
 	border-left:0px solid black;
 	border-right:0px solid black;
 	border-bottom:3px outset black;
 }

.six{
 	width:230px;
 	height:80px;
 	background-color:#F8F173 ;
 	border-top:0px solid black;
 	border-left:0px solid black;
 	border-right:0px solid black;
 	border-bottom:3px outset black;
 	
 }

 .seven{
 	width:230px;
 	height:80px;
 	background-color:#73B0F8 ;
 	border-top:0px solid black;
 	border-left:0px solid black;
 	border-right:0px solid black;
 	border-bottom:3px outset black;
 	
 }

 .eight{
 	width:230px;
 	height:80px;
 	background-color:#ED9300 ;
 	border-top:0px solid black;
 	border-left:0px solid black;
 	border-right:0px solid black;
 	border-bottom:3px outset black;
 	border-radius:25px;
 	
 }

.nine{
 	width:230px;
 	height:80px;
 	background-color:#DE37D0;
 	border-top:0px solid black;
 	border-left:0px solid black;
 	border-right:0px solid black;
 	border-bottom:3px outset black;
 	border-radius:25px;
 	
 }


   .ten{
 	width:230px;
 	height:80px;
 	background-color:#0C7703;
 	border-top:0px solid black;
 	border-left:0px solid black;
 	border-right:0px solid black;
 	border-bottom:3px outset black;
 	border-radius:25px 0px 25px 0px;

 	 }

 	 .eleven{
 	width:230px;
 	height:80px;
 	background-color:black;
 	border-top:0px solid black;
 	border-left:0px solid black;
 	border-right:0px solid black;
 	border-bottom:3px outset black;
 	border-radius:25px 0px 25px 0px;

 	 }






    
    
