body{
	background-color:yellow;
}


button{
	border-bottom:hide border;
	border-top:hide border;
	border-left:hide border;
	border-right:hide border;
	color:white;
	background-color:red;
	width:20%;
	height:60px;


 
}